html {
   /* background-image: url("../../../assets/images/backgroundimage.png");*/
    background-image: url("../../../assets/images/backgroundPhoto.png");
    background-size:cover;
    background-repeat: no-repeat;
}
