.EvalTableStyle {
    background-color:white;
    margin: 1rem;
    text-wrap: wrap;
    width: fit-content;
    place-self: center;
    
}

.view-result-btn {
    text-decoration: underline;
}

.view-result-btn:hover {
    cursor: pointer;
}

.eval-summary-container {
    margin-left: 5rem;
}

.eval-close-btn {
    text-align: left;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    align-items: center;
    justify-content: space-between;

    background-color: #dddaa4;
    border-style: solid;
    border-color: rgba(104, 105, 1, 0.65);
    font-size: 14px; /* Smaller font size for buttons */
    padding: 0px 10px; /* Adjust padding */
    border-radius: 25px;
    
}

.eval-close-btn:hover {
    cursor: pointer;
    background-color: rgba(138, 139, 35, 0.65);
}

.EvalTableStyle:has(th) {
    text-wrap: nowrap;
}

.table-container {
    display: flex; 
    justify-content: start;
}

.table-title {
    font-weight: bolder;
    font-size: 2rem;
}

.eval-popup-inner {
    border-style: solid;
    position: relative;
    padding: 50px;
    background-color: hwb(0 98% 2%);
    border-radius: 15px;
    border-width: 3px;
    box-shadow: 10px 10px 10px rgb(209, 179, 179);
    overflow: hidden;
}

.comment-container .rating-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 1rem;
    line-height: normal;
}

.comment {
    margin-left: 1rem;
}