.EvalTableStyle {
    background-color:white;
    margin: 1rem;
    text-wrap: wrap;
    width: fit-content;
    place-self: center;
    
}

.view-result-btn {
    text-decoration: underline;
}

.view-result-btn:hover {
    cursor: pointer;
}

.eval-summary-container {
    margin-left: 5rem;
}

.eval-close-btn {
    text-align: left;
    border: 1px solid black;
    border-radius: 1rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(137, 139, 35);
}

.eval-close-btn:hover {
    cursor: pointer;
    background-color: #dddaa4;
}

.EvalTableStyle:has(th) {
    text-wrap: nowrap;
}

.table-container {
    display: flex; 
    justify-content: start;
}

.table-title {
    font-weight: bolder;
    font-size: 2rem;
}