.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(216, 205, 205, 0.637);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.popup-inner{
    border-style: solid;
    position: relative;
    padding: 10px 50px 50px;
    width: 100%;
    max-width: 640px;
    background-color:hwb(0 98% 2%);
    border-radius: 15px;
    border-width: 3px;
    box-shadow: 10px 10px 10px rgb(209, 179, 179);
    
}

.bu{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.dropZone{
    width:100%;
    height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-style: dashed;
    border-width: 3px;
    position: relative;
    border-radius: 15px;
}
.border-outer{
    border-color:  #a6757c;
}

.border-inner {
    border-color: rgb(169, 163, 163);
}

.border-green {
    border-color: rgb(212, 196, 214);
}

.bg-green {
    background-color: rgb(243, 233, 244);
}

.file-details {
    position: relative;
    width:50%;
    bottom: 0px;
    text-align: center;
    font-size: small;
    border-style: solid;
    border-color: rgb(113, 108, 108);
}
/* Modern looking upload button */
.upload-button {
    background-color:  #ba858c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid #a6757c;

}

.upload-button:hover {
    background-color: #ddbabf;
}

.file-input {
    display: none; /* Hide the default file input */
}


/* Styles for the file details */
.file-outline{
    display:flex;
    justify-content: center;
    width: 100%;
}
.file-details {
    margin-top: 15px;
    border-radius: 20px;
    border-color:  #a7a650;
}

.file-details ul {
    list-style: none;
    padding: 0;
}

.file-details li {
    margin: 5px 0;
}
.close-x {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.close-x:hover {
    color: #a7a650; /* Red color when hovered */
}