body:has(nav.sidebar-on) {
    margin: 0;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
}

.menu:has(.input-wrapper) {
    width: fit-content;
}


.menu {
    height: 100vh;
    width: 11vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
    background-color:rgb(180, 142, 142);

    .avatar {
        background: rgba(0, 0, 0, 0.1);
        padding: 2em 0.5em;
        text-align: center;
        h2 {
            font-weight: normal;
            margin-bottom: 0;
        }
    }

    ul {
        list-style: none;
        padding: 0.5em 0;
        margin: 0;

        .add-course-btn {
            width: 11vw;
        }

        li {
            margin: 1em 0em 1em 0em;
            font-size: 0.95em;
            font-weight: regular;
            background-position: left 15px center;
            background-size: auto 20px;
            transition: all 0.15s linear;
            cursor: pointer;
            height: 6vh;
            text-wrap-mode: nowrap;
            align-content:space-evenly;


            &.icon-settings {
                background-image: url(@icon-url-settings);
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }

            &:focus {
                outline: none;
            }

        }
    }
}

.add-course-btn {
    border: 1px solid rgb(255, 211, 211);
    border-radius: 20px;
    width:fit-content;
    text-align: center;
    box-shadow: 5px 3px 15px 0px rgba(82, 52, 52, 0.92);
}

/* ADD COURSE BUTTON */
.input-wrapper {
    width: fit-content;
    height: 45px;
    border-radius: 20px;
    padding: 5px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff77;
}

.icon {
    width: 20px;
    fill: white;
    margin-left: 5px;
    margin-right: 6px;
    transition: all 0.3s;
}

.icon:hover {
    cursor: pointer;
}

.course-input {
    max-width: 33%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #ffffff00;
    color: #501e24ee;
    font-size: 1em;
}

.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #3d0f183e inset;
    -webkit-text-fill-color: #ffffff;
}

.Subscribe-btn:hover {
    background-color: #501e24ee;
}

.Subscribe-btn {
    height: 100%;
    width: 50%;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    background-color: #501e24b9;
    font-weight: 500;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s;
    padding-right:15px;
    margin-left:6px;
}

.error {
    text-align:left;
    padding-left:1rem;
}

.arrow {
    position: absolute;
    margin-right: 150px;
    transition: all 0.3s;
}

.input-wrapper:active .icon {
    transform: scale(1.3);
}

.Subscribe-btn:hover {
    color: white;
}

.Subscribe-btn:hover .arrow {
    margin-right: 0;
    animation: jello-vertical 0.9s both;
    transform-origin: right;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.Subscribe-btn:active {
    transform: scale(0.9);
}

.selected {
    background-color: rgba(255, 255, 255, 0.326);
}

/* .course-menu-elem {
    width:auto !important;
} */