body:has(nav.sidebar-on) {
    margin: 0;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
}


.menu {
    height: 100vh;
    width: fit-content;
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
    background-color:rgb(180, 142, 142);

    .avatar {
        background: rgba(0, 0, 0, 0.1);
        padding: 2em 0.5em;
        text-align: center;
        h2 {
            font-weight: normal;
            margin-bottom: 0;
        }
    }

    ul {
        list-style: none;
        padding: 0.5em 0;
        margin: 0;
        display: inline-block;

        li {
            margin: 1em 0em 1em 0em;
            font-size: 0.95em;
            font-weight: regular;
            background-position: left 15px center;
            background-size: auto 20px;
            transition: all 0.15s linear;
            cursor: pointer;
            width: 11vw;
            height: 6vh;
            text-wrap-mode: nowrap;
            align-content:space-evenly;


            &.icon-settings {
                background-image: url(@icon-url-settings);
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }

            &:focus {
                outline: none;
            }

        }
    }
}

.add-course-btn {
    border: 1px solid rgb(255, 211, 211);
    border-radius: 20px;
    width:fit-content;
    text-align: center;
    box-shadow: 5px 3px 15px 0px rgba(82, 52, 52, 0.92);
}

@media screen and (max-width:900px) and (min-width:400px) {
    /* body {
        padding-left: 90px;
    } */

    .menu {
        width: fit-content;

        .avatar {
            padding: 0.5em;
            position: relative;

            img {
                width: 60px;
            }

            h2 {
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 100px;
                margin: 0;
                min-width: 200px;
                border-radius: 4px;
                background: rgba(0, 0, 0, 0.4);
                transform: translate3d(-20px, -50%, 0);
                transition: all 0.15s ease-in-out;
            }

            &:hover {
                h2 {
                    opacity: 1;
                    transform: translate3d(0px, -50%, 0);
                }
            }
        }

        ul {
            li {
                height: 90/1.5;
                background-position: center center;
                background-size: 30px auto;
                position: relative;

                span {
                    /* display:none; */
                    opacity: 0;
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    padding: 0.2em 0.5em;
                    border-radius: 4px;
                    top: 50%;
                    left: 80px;
                    transform: translate3d(-15px, -50%, 0);
                    transition: all 0.15s ease-in-out;

                    &:before {
                        content: '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        top: 50%;
                        left: -5px;
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        border-right: 5px solid rgba(0, 0, 0, 0.5);
                        transform: translateY(-50%);
                    }
                }

                &:hover {
                    span {
                        opacity: 1;
                        transform: translate3d(0px, -50%, 0);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    /* body {
        padding-left: 0;
    } */

    .menu {
        width: fit-content;
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
        transform: translate3d(230px, 0, 0);
        transition: all 0.3s ease-in-out;

        .smartphone-menu-trigger {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 100%;

            &:before,
            &:after {
                content: '';
                width: 50%;
                height: 2px;
                background: #fff;
                border-radius: 10px;
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }

            &:after {
                top: 55%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        ul {

            li {
                padding: 1em 1em 1em 3em;
                font-size: 1.2em;
            }
        }

        &:focus {
            transform: translate3d(0, 0, 0);
            box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);

            .smartphone-menu-trigger {
                pointer-events: none;
            }
        }
    }
}
/* ADD COURSE BUTTON */
.input-wrapper {
    width: fit-content;
    height: 45px;
    border-radius: 20px;
    padding: 5px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff77;
}

.icon {
    width: 20px;
    fill: white;
    margin-left: 5px;
    margin-right: 6px;
    transition: all 0.3s;
}

.icon:hover {
    cursor: pointer;
}

.course-input {
    max-width: 33%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #ffffff00;
    color: #501e24ee;
    font-size: 1em;
}

.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #3d0f183e inset;
    -webkit-text-fill-color: #ffffff;
}

.Subscribe-btn:hover {
    background-color: #501e24ee;
}

.Subscribe-btn {
    height: 100%;
    width: 50%;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    background-color: #501e24b9;
    font-weight: 500;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s;
    padding-right:15px;
    margin-left:6px;
}

.error {
    text-align:left;
    padding-left:1rem;
}

.arrow {
    position: absolute;
    margin-right: 150px;
    transition: all 0.3s;
}

.input-wrapper:active .icon {
    transform: scale(1.3);
}

.Subscribe-btn:hover {
    color: white;
}

.Subscribe-btn:hover .arrow {
    margin-right: 0;
    animation: jello-vertical 0.9s both;
    transform-origin: right;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.Subscribe-btn:active {
    transform: scale(0.9);
}

.selected {
    background-color: rgba(255, 255, 255, 0.326);
}

.course-menu-elem {
    width:auto !important;
}